<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.delivery.demo1.mapper.BoardMapper">
    <insert id="insert">
        <selectKey order="AFTER" keyProperty="bno" resultType="Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb1_board(title,content,writer) values (#{title}, #{content}, #{writer})
    </insert>

    <select id="selectOne" resultType="BoardDTO">
        SELECT * FROM tb1_board WHERE bno = #{bno}
    </select>

    <update id="remove">
        UPDATE tb1_board SET delFlag=true WHERE bno = #{bno}
    </update>

    <update id="update">
        UPDATE tb1_board
        SET title = #{title}, content = #{content}, updateDate = now(), delFlag= #{delFlag}
        WHERE bno = #{bno}
    </update>

    <select id="list" resultType="BoardDto">
        SELECT bno, title, writer, regDate FROM tb1_board
        WHERE delFlag =  false
        ORDER BY bno desc
    </select>
    <select id="list2" resultType="BoardDTO">
        SELECT bno, title ,writer, regDate
        FROM tb1_board
        WHERE delFlag = false
        ORDER BY bno desc
        LIMIT #{count} OFFSET #{skip}
    </select>

    <select id="listCount" resultType="int">
        SELECT count(bno) FROM tb1_board where delFlag = false
    </select>
</mapper>